.range-slider__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0.25rem;
  margin: 0.625rem 0.875rem;
  background: #cfebfc;
  box-shadow: 0 0 1px #c2cfe0;
  user-select: none;
}

.range-slider__thumb-right,
.range-slider__thumb-left {
  position: absolute;
  top: 50%;
  margin-top: -0.563rem;
  height: 1.125rem;
  width: 0.375rem;
  background: url("range-thumb-icon.svg") left center no-repeat;
  background-size: contain;
  cursor: grab;
}

/* cursor over all slider, so that if the cursor moves out of the thumb, it's still grabbing */
.range-slider_dragging,
.range-slider_dragging .range-slider__thumb-right,
.range-slider_dragging .range-slider__thumb-left {
  cursor: grabbing;
}

.range-slider__thumb-left {
  left: 0;
  margin-left: -0.375rem;
}

.range-slider__thumb-right {
  right: 0;
  transform: rotate(180deg);
  margin-right: -0.375rem;
}

.range-slider__progress {
  background: #109cf1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.range-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3.75rem;
}

.range-slider > span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #707683;
  width: 3.75rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.range-slider > span:first-child {
  left: 0;
  text-align: right;
}

.range-slider > span:last-child {
  right: 0;
  text-align: left;
}
